$black: #000;
$white: #fff;
$transparent: rgb(255 255 255 / 50%);
$error: #e98f8f;
$danger: #cd6767;
$gray: #ededec;
$grayLoading: #e5e5e5;
$grayDark: #666666;
$background: #bbb;
$active: orange;

/** Cores principais */
$primary: #0a5290;
$secondary: #dbdbdb;
$tertiary: #fff678;
$primaryOpacity: #677378;

/** Cores das fontes */
$fontColor: #252b2e;