$black: #000;
$white: #fff;
$transparent: rgb(255 255 255 / 50%);
$error: #e98f8f;
$danger: #cd6767;
$gray: #ededec;
$grayLoading: #e5e5e5;
$grayDark: #666666;
$background: #bbb;
$active: orange;

/** Cores principais */
$gray-400: #cccccc;
$gray-500: #E2E6E6;
$gray-600: #707070;

$green-500: #008B8F;
$green-600: #017578;
$green-400: lighten($green-600, 8%);

/** Cores das fontes */
$fontColor: #252b2e;