@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "vue-select/dist/vue-select.css";

@import './resets';
@import './fonts';
@import './colors';
@import './v-select';

body {
  font-family: 'Roboto', sans-serif;
  background: $white;
  height: 100vh;

  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;
  background-color: $white;
  color: $grayDark;
  font-size: 16px;

  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }

  h1 {
    font-weight: 600;
    font-size: 18px;
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
  }
  
  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  button {
    text-transform: uppercase;
    background: $green-500;
    border-radius: 10px;
    color: $white;
    height: 40px;
    border: none;
    width: 100%;
    transition: 0.3s ease;

    &:hover {
      border: 1.5px solid $green-500;
      background-color: $white;
      color: $green-500;
    }

    &.outline {
      border: 1.5px solid $green-500;
      background-color: $white;
      color: $green-500;
    }
    
    &:disabled {
      background: $gray-500;
      color: $white;
      cursor: not-allowed;
      border: none;
    }
  }

  textarea, 
  input[type=text],
  input[type="number"],
  input[type="password"],
  input[type="email"] {
    border: 1px solid $gray-400;
    max-height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-height: 50px;
    min-width: 200px;
    height: 46.46px;
    padding: 10px;
    width: 100%;
    opacity: 1;
  
    &::placeholder {
      font-weight: bold;
      color: $gray-600;
    }

    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
      border: 2px solid $green-500;
      outline: none;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .v-select {
    border: 1px solid $gray-400;
    margin-bottom: 15px;
    min-height: 50px;
    min-width: 200px;
    height: 46.46px;
    width: 100%;
    opacity: 1;
    
    .vs__search {
      font-weight: bold;
      color: $gray-600;
      padding: 0;
      margin: 0;
      position: relative;
      top: 3px;
    }
    
    .vs__actions {
      cursor: pointer;
      padding: 20px 5px 5px 5px;

      .vs__clear {
        margin: 0 3px 3px 0;
      }

      .vs__clear:hover {
        border: none;
      }

      .vs__clear:not([style*="display: none"]) ~ .vs__open-indicator {
        display: none;
      }
    }
  
    &::placeholder {
      font-weight: bold;
      color: $gray-600;
    }

    .vs__dropdown-menu {
      border-radius: 10px;
      padding: 0;
      margin-top: 10px;
      z-index: 1;
      border-bottom: 1px solid #bbb;

      li {
        height: 50px;
        display: flex;
        padding: 10px;
        border-bottom: 1px solid $gray-500;
      }

      li:last-child {
        border-bottom: 0;
      }
    }
    
    .vs__dropdown-toggle {
      padding: 0;
      border: none;
      max-height: 50px;
      display: flex;
      justify-content: space-between;
    }

    .vs__selected-options {
      padding: 10px;
      max-width: 250px;
    }
  }
}

.form-loading {
  opacity: 0.6;
  pointer-events: none;
}

.container {
  //max-width: 1000px;
}

.content-block {
  opacity: 0.6;
  pointer-events: none;
}

#app {
  position: relative;
  height: 100%;
}

