@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "vue-select/dist/vue-select.css";

@import './resets';
@import './fonts';
@import './colors';
@import './v-select';

html {
  font-size: 16px; /* Defina o tamanho base (1rem) aqui */
}

body {
  font-family: 'Roboto', sans-serif;
  background: $white;
  height: 100vh;

  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;
  background-color: $white;
  color: $grayDark;
  font-size: 1rem; /* 16px */
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }

  h1 {
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
  }

  h2 {
    font-weight: 500;
    font-size: 1rem; /* 16px */
  }

  h3 {
    font-size: 0.875rem; /* 14px */
  }

  p {
    font-size: 0.75rem; /* 12px */
  }

  a {
    font-size: 0.75rem; /* 12px */
  }

  button {
    text-transform: uppercase;
    background: $green-500;
    border-radius: 0.625rem; /* 10px */
    color: $white;
    height: 2.1875rem; /* 35px */
    border: none;
    width: 100%;
    transition: 0.5s ease;

    &:hover {
      border: 0.09375rem solid $green-600; /* 1.5px */
      background-color: $green-600;
    }

    &.outline {
      border: 0.09375rem solid $green-500; /* 1.5px */
      background-color: $white;
      color: $green-500;
    }

    &:disabled {
      background: $gray-500;
      color: $white;
      cursor: not-allowed;
      border: none;
    }
  }

  textarea,
  input,
  input[type=text],
  input[type=email],
  input[type="number"],
  input[type="password"],
  input[type="email"]
  select {
    font-size: 1rem;
    border: 0.0625rem solid $gray-400; /* 1px */
    max-height: 2.5rem; /* 100px */
    margin-bottom: 0.5rem; /* 15px */
    border-radius: 0.625rem; /* 10px */
    height: 2.890625rem; /* 46.46px */
    padding: 0.625rem; /* 10px */
    width: 100%;
    opacity: 1;
  
    &::placeholder {
      font-weight: 450;
      color: $gray-600;
    }

    &:focus {
      box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3); /* 5px */
      border: 0.125rem solid $green-500; /* 2px */
      outline: none;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
    max-height: 0.7rem;
    max-width: 0.7rem;
  }

  textarea {
    font-size: 1rem;
    border: 0.0625rem solid $gray-400; /* 1px */
    max-height: 5rem; /* 100px */
    margin-bottom: 0.5rem; /* 15px */
    border-radius: 0.625rem; /* 10px */
    height: 2.890625rem; /* 46.46px */
    padding: 0.625rem; /* 10px */
    width: 100%;
    opacity: 1;

    scrollbar-width: thin;
      scrollbar-color: $gray-400 $gray;

      &::-webkit-scrollbar {
        width: 8px;
        position: absolute;
        right: 5px;
        top: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-400;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      p {
        max-height: 300px;
        padding-right: 20px;
        overflow-x: auto;
      }
  
    &::placeholder {
      font-weight: 450;
      color: $gray-600;
    }

    &:focus {
      box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3); /* 5px */
      border: 0.125rem solid $green-500; /* 2px */
      outline: none;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .v-select {
    font-size: 1rem;
    border: 0.0625rem solid $gray-400; /* 1px */
    max-height: 2.5rem; /* 100px */
    margin-bottom: 0.5rem; /* 15px */
    border-radius: 0.625rem !important; /* 10px */
    height: 2.890625rem; /* 46.46px */
    width: 100%;
    opacity: 1;
    cursor: pointer;

    .vs__dropdown-toggle {
      border: none;
    }

    .vs--searchable {}

    .vs__search {
      margin: 0 0 0 4px;
      font-size: 1rem;
      color: $gray-600;
    }

    .vs__selected {
      margin: 0 0 0 4px;
      font-size: 1rem;
      font-weight: 450;
      color: $gray-600;
    }

    button {
      background-color: none !important;
      &:hover {
        border: none !important;
        background-color: transparent !important;
      }
    }

    .vs__dropdown-menu {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
      border: 1px solid #bbbbbb;
      border-top: none;
      margin-top: 10px;
      overflow-x: hidden;
      min-width: auto;
      border-radius: 10px;
      padding: 0;
  
      .vs__dropdown-option {
        color: $gray-600;
        padding: 10px 15px;
      }
      .vs__dropdown-option--highlight {
        background-color: $gray-400;
      }
  
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        padding: 15px;
      }
      &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
      }
      &::-webkit-scrollbar-thumb {
        background: $gray-400;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $gray-400;
      }
      &::-webkit-scrollbar-thumb:active {
        background: $gray-400;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        padding-right: 3px;
        border-radius: 50px;
      }
      &::-webkit-scrollbar-track:hover {
        background: $white;
      }
      &::-webkit-scrollbar-track:active {
        background: $white;
      }
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
  }
}

.form-loading {
  opacity: 0.6;
  pointer-events: none;
}

.container {
  //max-width: 62.5rem; /* 1000px */
}

.content-block {
  opacity: 0.6;
  pointer-events: none;
}

#app {
  position: relative;
  height: 100%;
}