#home {
  justify-content: space-between;
  flex-wrap: wrap;
  display: box;
  width: 100%;
}

.signature {
  margin-bottom: 10px;
  width: 100%;
  order: 1;
}

.data-box-container {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.data-box {
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
}

.data-box:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .data-box {
    flex-basis: 100%;
    margin-right: 0;
  }
}

#signature {
  display: flex;
  align-items: center;
  .signature-text {
    font-weight: 400;
    margin-left: 8px;
    font-size: 18px;

    .name {
      color: $green-500;
      font-weight: 700;
    }
  }
}

$data-box-max-width: 350.31px;
$data-title-height: 3.83rem;
$data-quantity-height: 5.02rem;
$data-quantity-font-size: 50.11px;

.data-box {
  grid-template-rows: $data-title-height 1fr $data-quantity-height;
  max-width: $data-box-max-width;
  text-align: center;
  display: grid;
  width: 100%;
  grid-gap: 0;

  .data-title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
    color: $white;
    display: flex;
    background: $green-500;
    height: $data-title-height;
  }

  .data-quantity {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: $gray-500;
    color: $green-500;
    font-size: $data-quantity-font-size;
    height: $data-quantity-height;
  }
}